.body-container {
    margin: 0 auto;
    max-width: 1200px;
}
.header-button {
    display: flex;
    flex-direction: row-reverse;
}
button {
    padding: 6px 30px;
    background-color: #c7712b;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: center;
    border-bottom: 1px solid #4D4643;
    border-radius: 3px;
    box-sizing: border-box;
    word-break: break-all;
    font-weight: bold;
}
.cart-button {
    margin-top: 20px;
    padding: 10px 16px;
    background-color: #a3371c;
    color: #FFFFFF;
}
main {
    display: flex;
}
h3 {
    margin: 0;
    font-size: 26px;
    color: #4D4643;
}
p {
    margin: 20px 0;
    text-align: center;
    color: darkred;
    font-size: 18px;
    font-weight: bolder;
}
.goods-item {
    max-width: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column;
} 