.body-container {
    margin: 0 auto;
    max-width: 1200px;
}
.header-button {
    display: flex;
    flex-direction: row-reverse;
}
.cart-button {
    margin-top: 20px;
    padding: 17px 34px;
    background-color: #998675;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 3px solid #4D4643;
    border-radius: 5px;
    box-sizing: border-box;
    word-break: break-all;
}
.goods-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.goods-header {
    margin: 0;
    font-size: 26px;
    color: #4D4643;
}
.goods-price {
    margin: 0;
    text-align: center;
    color: darkred;
    font-size: 18px;
    font-weight: bolder;
}